body {
    padding: 0;
    margin: 0;
}

img {
    vertical-align: middle;
}

.header {
    right: 2px;
    position: absolute;
    text-align: right;
}

a {
    text-decoration: none;
    margin: 0;
    padding: 10px;
}

.button {
    display: block;
    background: #eee;
}

.button:hover {
    background: #ddd;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}

.img-circle {
    border-radius: 50%;
}

.send-channel {
    margin-left: 30px;
}

#content {
    margin: 2px;
}