.spinner {
    /* Shamelessly stolen from https://www.w3schools.com/howto/howto_css_loader.asp */
    border: 16px solid #d6d6d6; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spinner 2s linear infinite;
}


@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}